// _index.scss
//

.window {

}
.window__pane {

}

.header {
  border-bottom: 1px solid;
}

/**
 * MAIN CONTENT
 * 1. Grow to fill space.
 */
.main {
  flex: 1; // [1]
}
  .main__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
    .header {}
      .main__nav {
        display: flex;
        justify-content: space-between;

        li {

          &.active {

            a {
              font-weight: bold;
            }
          }
        }

        a {}
      }

    /**
     * 1. Grow to fill space.
     */
    .workspace {
      display: flex;
      flex: 1; // [1]
    }

/**
 * ASIDE CONTENT
 * 1. Grow to fill space, pushing version to the bottom.
 */
.aside {
  background: #F1F1F1;

  display: flex;
  flex-direction: column;
}
  .aside__project {
    flex: 1; // [1]
  }
  .aside__version {
    text-align: center;
  }

/**
 * COMPONENTS
 */

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  z-index: 10;
}
  .modal__inner {
    background-color: #FFF;
  }

/**
 * 1. Grow to fill space.
 */
.workspace__log {
  flex: 1; // [1]
  overflow-y: scroll;

  pre {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;
  }
}
