$font-family-default: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;
$font-size-default: 13px !default;
$font-weight: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;
$line-height-default: 1.6 !default;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight;
  height: 100%;
  line-height: $line-height-default;
  margin: 0;
  padding: 0;
}

.window {
  position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
}

/**
 * 1. Temp. clearfix
 */
.nav-list {
  overflow: hidden; // [1]
  padding-left: 0;
  list-style: none;

  > li {
    float: left;
  }
}

@import 'index';
