<!DOCTYPE HTML>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
  	<title>Collider</title>
  	<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<div id="app" class="window">

      <!-- Left -->
      <div class="window__pane aside">
        <div class="header">
          <h2>Projects</h2>
          <button v-on:click="send('project-new')">New</button>
          <button v-on:click="send('project-open')">Open</button>
        </div>

        <div class="aside__project">
          <ul v-if="state.isLoaded">
            <li>{{ state.project.name }}</li>
            <li>{{ state.project.author }}</li>
          </ul>
        </div>

        <p class="aside__version">{{ collider.version }}</p>
      </div>


      <!-- Right -->
      <div class="window__pane main">

        <div v-if="state.isLoaded" class="main__inner">
            <div class="header">
              <h1>{{ state.project.name }}</h1>
              <p>{{ state.project.author }}</p>
              <p>{{ state.location.rel }}</p>

              <div class="main__nav">
                <ul class="nav-list">
                  <li v-bind:class="{ 'active' : state.workspaceView === 'matter' }">
                    <a v-on:click.prevent="state.workspaceView = 'matter'" href="#">Matter</a>
                  </li>
                  <li v-bind:class="{ 'active' : state.workspaceView === 'generate' }">
                    <a v-on:click.prevent="state.workspaceView = 'generate'" href="#">Generate</a>
                  </li>
                  <li v-bind:class="{ 'active' : state.workspaceView === 'log' }">
                    <a v-on:click.prevent="state.workspaceView = 'log'" href="#">Log</a>
                  </li>
                </ul>

                <ul class="nav-list">
                  <li><button disabled="">Update</button></li>
                  <li><button v-on:click="projectRunStop">{{ state.isRunning ? 'Stop' : 'Run' }}</button></li>
                </ul>
              </div>
            </div>

            <div class="workspace">
              <component
                :is="'workspace-'+state.workspaceView"
                :matter-libs="state.matterLibs"
                keep-alive="">
              </component>
            </div>
        </div>

        <div v-else="" class="main__inner">
          <p>Empty</p>
        </div>

      </div>


      <modal v-show="state.download.progress > 0 && state.download.progress < 100">
        <div class="modal__header">
          <h2>Downloading&hellip;</h2>
        </div>
        <div class="modal__body">
          <progress v-bind:value="state.download.progress" max="100"></progress>
        </div>
      </modal>

		</div>


    <!-- Project sub-views. -->
    <template id="workspace-matter-tpl">
      <div class="workspace__matter">
        <p>Manage external Matter libraries in your project.</p>
        <ul>
          <li v-for="lib in matterLibs">
            <h2>{{ lib.title }}</h2>
            <button v-on:click="addRemoveLib(lib.id)">Add/Remove</button>
          </li>
        </ul>
      </div>
    </template>

    <template id="workspace-generate-tpl">
      <div class="workspace__generate">
        <p>Create the necessary files for a new Matter component.</p>

        <form v-on:submit.prevent="generate">
          <ul>
            <li>
              Type
              <label>Atom <input type="radio" value="atom" v-model="type" /></label>
              <label>Molecule <input type="radio" value="molecule" v-model="type" /></label>
              <label>Organism <input type="radio" value="organism" v-model="type" /></label>
            </li>
            <li><label>Name <input type="text" v-model="name" /></label></li>
            <li><label>Uses JSON data? <input type="checkbox" v-model="usesData" /></label></li>
            <li>
              <label>
                Destination library
                <select v-model="destLib">
                  <optgroup label="Local">
                    <option value="project" selected="">My Project</option>
                  </optgroup>
                  <optgroup label="External"></optgroup>
                </select>
              </label>
            </li>
            <li><button type="reset">Cancel</button><button type="submit">Generate</button></li>
          </ul>
        </form>
      </div>
    </template>

    <template id="workspace-log-tpl">
      <div class="workspace__log">
        <pre>{{ text }}</pre>
      </div>
    </template>

    <!-- Components. -->
    <template id="modal-tpl">
      <div class="modal">
        <div class="modal__inner">
          <slot></slot>
        </div>
      </div>
    </template>

		<script src="index.js"></script>
	</body>
</html>
